@media screen and (min-width: 1024px) {
    .btn{
        font-size: 1em !important;
        height: 35px !important;
    }
    @media screen and (min-width: 1800px) {
        .btn{
            font-size: 1.5em !important;
            height: 50px !important
        }
    }
    @media screen and (min-width: 2500px) {
        .btn{
            font-size: 2em !important;
            height: 70px !important;
        }
    }
}
