@media screen and (min-width: 768px ) {
    .mainBlock{
        width: 49%;
    }
    .wrap{
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 2000px ) {
    .typeOfSubject{
        font-size: 2em !important;
    }
    .mainBlock{
        font-size: 1.7em !important;
    }
}
@media screen and (min-width: 2500px ) {
    .typeOfSubject{
        font-size: 2.5em !important;
    }
    .mainBlock{
        font-size: 2.2em !important;
    }
}
@media screen and (min-width: 3000px ) {
    .typeOfSubject{
        font-size: 3em !important;
    }
    .mainBlock{
        font-size: 2.7em !important;
    }
}
