@media screen and (min-width: 700px) {
    .card{
        width: 49%;
    }
    .content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap ;
    }
}
@media screen and (min-width: 1600px ) {
    .card{
        height: 300px;
    }
}
@media screen and (min-width: 2200px ) {
    .card .name{
        font-size: 2em;
    }
    .card{
        height: 400px;
    }
}